.TopBar {
    position: absolute;
    width: 100vw;
    background-color: #434343ff;
    height: 100px;
    display: flex;
    -webkit-transition: box-shadow 0.8s linear;
    -moz-transition: box-shadow 0.8s linear;
    -o-transition: box-shadow 0.8s linear;
    transition: box-shadow 0.8s linear;
    box-shadow: -5px -16px 19px 20px black;
}

.TopBarOpened{
    box-shadow: -5px -22px 19px 20px black;
}

.eole-logo {
    width: 230px;
    padding: 16px 50px 0 20px;
    filter: drop-shadow(0 0 8px black);
}

.TopBar-title {
    flex: 1;
    color: #0d6094;
    text-shadow: 0 0 10px black;
    line-height: 60px;
    width: calc(100% - 1px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-icon-container {
    height: 100%;
    width: 90px;
    cursor: pointer;
}

.menu-icon{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 50px;
    filter: drop-shadow(0 0 8px black);
    transition-duration: 0.8s;
    transition-property: transform;
}

.menu-icon-c{
    padding: 25px 0 0 25px;
}

.menu-icon-container:hover > .menu-icon-c > .menu-icon {
    filter: brightness(120%) drop-shadow(0 0 8px #313d7c);
}

.spin{
    filter: brightness(120%) drop-shadow(0 0 8px #313d7c);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

