.LateralMenuLevel2 {
    width: 0;
    -webkit-transition: all 2s;
    transition: all 2s;
    flex: 1;
    background-color: #5a5a5aff;
}

.LateralMenuLevel1Opened{
    width: 350px;
    box-shadow: 4px 0 28px black;
}