.Content{
    flex: 1;
    overflow: auto;
}

.ContentContent{
    padding: 10px 50px 10px 50px;
    width: calc(100% - 100px);
    height: calc(100% - 20px);
}

@media (max-width: 866px){
    .ContentContent{
        width: 1000px!important;
    }
}