.TopMenu {
    background-color: #434343ff;
    height: 150px;
    max-height: 100px;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    position: relative;
}

.TopMenuOpened {
    max-height: 150px;
    box-shadow: -5px -16px 19px 20px black;
}

.TopMenuContent {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 47px;
    padding: 0 50px;
    width: calc(100% - 100px);
}

.menu-item {
    color: #2f2f2f;
    width: calc(100% / 7 - 10px);
    text-align: center;
    background: radial-gradient(#6d7171, transparent);
    margin: 5px;
    border: 1px #686c6c solid;
    border-radius: 5px;
    line-height: 40px;
    cursor: pointer;
}

.menu-item:hover:not(.menu-item-selected){
    border: 1px #878c8c solid;
    color: #a8aeae;
    font-weight: lighter;
    text-shadow: none;
}

.menu-item-selected {
    color: black;
    background: radial-gradient(#587d90, transparent);
    font-weight: bold;
    border: 1px #b9c0c0 solid;
    text-shadow: 0 0 2px #ffffff;
}

